body {
  color: white;
  max-width: 320;
  background-color: black;
  font-family: monospace;
  text-align: center;
  font-size: large;
}

div {
  border-radius: 12px;
  border-color: salmon;
  border-style: groove;
  text-align: center;
  align-items: center;
}

img {
  max-width: 300;
}
